<h1 class="h3 mb-5 text-gray-800">
    <span><i class="bi bi-person-vcard-fill mr-2"></i></span>
    Pastor
</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">

        <button type="button" class="btn btn-outline-primary float-end"
            [routerLink]="['/dashboard/pastor-list/add-pastor/0']">
            <i class="bi bi-person-add"></i>
            Add Pastor
        </button>
    </div>
    <div class="card-body px-4">
        <table class="table table-bordered table-hover mt-5 shadow p-3 mb-5 bg-body rounded">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Pastor Name</th>
                    <th>Mobile</th>
                    <th>Region</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="anchor" *ngFor="let pastor of records; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{pastor.firstname}}</td>

                    <td>{{pastor.mobileNo}}</td>
                    <td>{{pastor.regionName}}</td>
                    <td [routerLink]="['/dashboard/pastor-list/add-pastor', pastor.id]"><i
                            class="bi bi-pencil-square"></i></td>
                </tr>
            </tbody>

        </table>
        <div class="row">
            <div class="col-md-12">
                <pagination [totalItems]="totalCount" (pageChanged)="pageChanged($event)" [(ngModel)]="currentPage"
                    [maxSize]="10" [itemsPerPage]="size" [boundaryLinks]="true"></pagination>
            </div>
        </div>
    </div>
</div>