<h1 class="h3 mb-5 text-gray-800">
    <span><i class="bi bi-person-vcard-fill mr-2"></i></span>
    Members
</h1>
<div class="card shadow mb-4" *ngIf="occupation.length || 1">

    <div class="card-header"> Details</div>
    <div class="card-body" [ngClass]="{'formSubmitted':formSubmitted}">
        <form [formGroup]="memberForm" autocomplete="off">

            <!-- Form Row-->
            <div class="row gx-3 mb-3">
                <!-- Form Group (first name)-->
                <div class="col-md-6">
                    <label class="small mb-1" for="firstName">First name</label>
                    <input class="form-control has-validation" formControlName="firstName" id="firstName" type="text"
                        placeholder="Enter your first name" autocomplete="off">
                </div>
                <!-- Form Group (last name)-->
                <div class="col-md-6">
                    <label class="small mb-1" for="lastName">Last name</label>
                    <input class="form-control" formControlName="lastName" id="lastName" type="text"
                        placeholder="Enter your last name">
                </div>
            </div>
            <!-- Form Row        -->
            <div class="row gx-3 mb-3">
                <!-- Form Group (organization name)-->
                <div class="col-md-6">
                    <label class="small mb-1">Occupation</label>
                    <ng-select [items]="occupation" formControlName="occupationId" [multiple]="false"
                        placeholder="Please select Occupation" bindValue="id" bindLabel="occupation" [clearable]="false">
                    </ng-select>
                </div>
                <!-- Form Group (location)-->
                <div class="col-md-6">
                    <label class="small mb-1" for="email">Email </label>
                    <input class="form-control" id="email" formControlName="email" type="email"
                        placeholder="Enter your email" autocomplete="off">
                </div>
            </div>
            <!-- Form Group (email address)-->
            <div class="row gx-3 mb-3">
                <div class="mb-3 col-md-6">
                    <label class="small mb-1" for="address">Address</label>
                    <textarea class="form-control" formControlName="address" autocomplete="off" id="address" 
                        placeholder="Enter your address"></textarea>
                </div>
                <div class="col-md-3 mb-3">
                    <label class="small mb-1">Area</label>
                    <ng-select [items]="area" formControlName="areaId"  bindValue="id" bindLabel="name" [multiple]="false"
                        placeholder="Please select area" [clearable]="false">
                    </ng-select>
                </div>
            </div>
            <div class="row gx-3 mb-3">
                <div class="col-md-3 mb-3">
                    <label class="small mb-1">City</label>
                    <ng-select [items]="city" formControlName="cityId" bindValue="id" bindLabel="cityName" [multiple]="false"
                        placeholder="Please select city" [clearable]="false">
                    </ng-select>
                </div>
                <div class="col-md-3 mb-3">
                    <label class="small mb-1">State</label>
                    <ng-select [items]="state" formControlName="stateId" bindValue="id" [multiple]="false"
                        placeholder="Please select state" bindLabel="stateName" [clearable]="false">
                    </ng-select>
                </div>
                <div class="col-md-3 mb-3">
                    <label class="small mb-1">Country</label>
                    <ng-select [items]="country" formControlName="countryId" bindValue="id" [multiple]="false"
                        placeholder="Please select country" bindLabel="countryName" [clearable]="false">
                    </ng-select>
                </div>
                <div class="col-md-3 mb-3">
                    <label class="small mb-1" for="pincode">Pincode</label>
                    <input class="form-control" formControlName="pincode" id="pincode" type="number"
                        placeholder="Enter your pincode">
                </div>
            </div>
            <div class="row gx-3 mb-3">
                <div class="mb-3 col-md-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input anchor" formControlName="canVisitHouse" type="checkbox"
                            id="canVisitHouse" checked>
                        <label class="form-check-label anchor" for="canVisitHouse">Can
                            visit house</label>
                    </div>

                </div>
                <div class="mb-3 col-md-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input anchor" formControlName="isAttendingCHurch" type="checkbox"
                            id="isAttendingCHurch" checked>
                        <label class="form-check-label anchor" for="isAttendingCHurch">Is Attending Church</label>
                    </div>

                </div>
                <div class="mb-3 col-md-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input anchor" formControlName="isCarecell" type="checkbox"
                            id="isCarecell">
                        <label class="form-check-label anchor" for="isCarecell">Is
                            Attending Carecell</label>
                    </div>

                </div>
                <div class="mb-3 col-md-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input anchor" formControlName="isLetterAccepted" type="checkbox"
                            id="isLetterAccepted" checked>
                        <label class="form-check-label anchor" for="isLetterAccepted">Is Letter Accepted</label>
                    </div>

                </div>
            </div>

            <!-- Form Row-->
            <div class="row gx-3 mb-3">
                <!-- Form Group (phone number)-->
                <div class="col-md-6">
                    <label class="small mb-1" for="mobileNo">Phone number</label>
                    <input class="form-control" id="mobileNo" formControlName="mobileNo" type="number"
                        placeholder="Enter your phone number" value="555-123-4567">
                </div>
                <!-- Form Group (birthday)-->
                <div class="col-md-6">
                    <label class="small mb-1" for="dob">Birthday</label>
                    <input class="form-control" id="dob" formControlName="dob" type="date" name="dob"
                        placeholder="Enter your birthday"  value="{{ memberForm.get('dob')?.value | date:'yyyy-MM-dd' }}">
                </div>
            </div>
            <div class="row gx-3 mb-3">
                <div class="mb-3 col-md-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input anchor" formControlName="martialStatus" type="checkbox"
                            id="martialStatus" checked>
                        <label class="form-check-label anchor" for="martialStatus">Married</label>
                    </div>

                </div>
            </div>
            <div class="row gx-3 mb-3">
                <div class="col-md-3">
                    <label class="small mb-1">Religion</label>
                    <ng-select [items]="religionList" formControlName="religionId" [multiple]="false"
                        placeholder="Please select Religion" bindValue="id" bindLabel="religionName" [clearable]="false">
                    </ng-select>
                </div>

                <div class="col-md-3">
                    <label class="small mb-1">Member Type</label>
                    <ng-select [items]="memberType" formControlName="memTypeId" [multiple]="false"
                        placeholder="Please select type" bindValue="id" bindLabel="memberType" [clearable]="false">
                    </ng-select>
                </div>


            </div>
            <div class="row gx-3 mt-5 mb-3">
                <!-- Save changes button-->
                <button class="col-md-2 btn btn-primary" (click)="submit()" type="button">Save changes</button>
                <button class="col-md-1 btn btn-outline-primary ms-2" type="button"
                    [routerLink]="['/dashboard/member']">
                    <i class="bi bi-arrow-left"></i>
                    Back
                </button>
            </div>
        </form>
    </div>

    <div class="card-body px-4">

    </div>
</div>