<main class="main" *ngIf="currentUrl !== '/dashboard/carecell-cover'">
    <aside class="sidebar">
        <div class="logo">
            <img src="/assets/images/image.png" />
        </div>
        <ul class="nav nav-pills flex-column mb-auto mt-5">
            <li class="nav-item" [routerLink]="['pastor-list']">
                <a href="javascript:void(0)" class="nav-link " [routerLinkActive]="['active']">
                    Pastor<i class="bi bi-chevron-right float-end"></i>
                </a>
            </li>
            <li class="nav-item" [routerLink]="['member']">
                <a href="javascript:void(0)" class="nav-link" [routerLinkActive]="['active']">
                    Member<i class="bi bi-chevron-right float-end"></i>
                </a>
            </li>
            <li class="nav-item" [routerLink]="['carecell']">
                <a href="javascript:void(0)" class="nav-link" [routerLinkActive]="['active']">
                    Carecell<i class="bi bi-chevron-right float-end"></i>
                </a>
            </li>
            <li class="nav-item" [routerLink]="['region-list']">
                <a href="javascript:void(0)" class="nav-link" [routerLinkActive]="['active']">
                    Region<i class="bi bi-chevron-right float-end"></i>
                </a>
            </li>
            <li class="nav-item" [routerLink]="['area-list']">
                <a href="javascript:void(0)" class="nav-link" [routerLinkActive]="['active']">
                    Area<i class="bi bi-chevron-right float-end"></i>
                </a>
            </li>
            <li class="nav-item" [routerLink]="['carecell-cover']">
                <a href="javascript:void(0)" class="nav-link" [routerLinkActive]="['active']">
                    CareCell Cover<i class="bi bi-chevron-right float-end"></i>
                </a>
            </li>
        </ul>
    </aside>
    <section class="content">
        <header>
            <div class="header mb-3">
                <div class="proverb">
                    <p>
                        God saw all that he had made and it was very good Genesis 1:31
                    </p>
                </div>
                <div class="username">
                    <div class="dropdown me-5">
                        <button class="btn dropdown-toggle" (click)="menuToggle = !menuToggle" type="button">
                            Jegil Ebidoss
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" [ngClass]="{'d-block': menuToggle}">
                            <button class="dropdown-item" type="button"
                                [routerLink]="['/dashboard/reset-password']">Change Password</button>
                            <button class="dropdown-item" type="button" (click)="logout()">Logout</button>
                        </div>
                    </div>
                </div>


            </div>
        </header>
        <div class="container-fluid mb-5">

            <router-outlet></router-outlet>
        </div>
        <footer class="footer">
            <p>Copyright © {{year}} New Creation AG Church. All Rights Reserved. </p>
        </footer>
    </section>

</main>
<main *ngIf="currentUrl == '/dashboard/carecell-cover'">
    <router-outlet></router-outlet>
</main>