<div class="printbody m-4" *ngIf="carecellList.content">
    <div>

    </div>
    <div>
        <div class="row search">
            <div class="col-md-2">
                Region <ng-select [items]="regionList" [(ngModel)]="regionObject" bindLabel="regionName" [multiple]="false"
                    placeholder="Please select region" [clearable]="false" (change)="resetArea()">
                </ng-select>
            </div>
            <div class="col-md-2">
                Area <ng-select [items]="area" [(ngModel)]="areaId" bindLabel="name" bindValue="id" [multiple]="false"
                    placeholder="Please select area" [clearable]="false" (change)="resetReg()">
                </ng-select>
            </div>
            <div class="col-md-2">
                Week <ng-select [items]="weeks" [(ngModel)]="week" [multiple]="false" placeholder="Please select week"
                    [clearable]="false">
                </ng-select>
            </div>
            <div class="col-md-2">
                Month <ng-select [items]="months" [(ngModel)]="month" [multiple]="false"
                    placeholder="Please select month" [clearable]="false">
                </ng-select>
            </div>
            <div class="col-md-1">
                Year <div>{{year}}</div>
            </div>
            <div class="col-md-2">
                &nbsp;
                <button type="button" class="btn btn-outline-primary float-start mt-4" (click)="search()">
                    <i class="bi bi-search"></i>
                    Search
                </button>
            </div>

            <div class="col-md-2">
                &nbsp;
                <button type="button" class="btn btn-success float-end mt-4" [routerLink]="['/dashboard/carecell']">
                    Back to Application
                </button>
                <button type="button" onclick="window.print()" class="btn btn-info float-end mt-4 me-3">Print</button>
            </div>
        </div>
        <div class="printbody mt-5" id="printable">
            <ng-container *ngFor="let mem of carecellList.content;let k=index">
                <ng-container *ngIf="mem.carecellMembers.length">
                    <div class="mt-5">Address : {{mem.carecellMembers[0]?.address}}, {{mem.areaName}},  {{mem.carecellMembers[0]?.areaDetails?.pincode}}</div>
                    <div class="row">
                        <div class="col-md-2">Carecell : 00{{mem.carecellId}}</div>
                        <div class="col-md-1">{{week}}/{{month|uppercase }}/{{year}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Area Pastor : {{mem.pastorName}}</div>
                    </div>
                    <table>
                        <tr>
                            <td>Carecell Members</td>
                        </tr>
                        <ng-container *ngFor="let people of mem.carecellMembers;let i =index;">
                            <tr *ngIf="people.memberTypeDetails.shortForm !== 'NC'">

                                <td>{{people.memberTypeDetails.shortForm}}</td>
                                <td>{{i+1}}. {{people.firstName}} [{{people.id}}]
                                </td>
                            </tr>

                        </ng-container>
                        <!-- <tr>
                            <td>[ New Comers ]</td>
                        </tr>
                        <ng-container *ngFor="let people of mem.carecellMembers;">
                            <tr *ngIf="people.memberTypeDetails.shortForm == 'NC'">

                                <td>{{people.memberTypeDetails.shortForm}}</td>
                                <td>{{people.firstName}} [{{people.id}}]</td>
                            </tr>

                        </ng-container> -->
                    </table>
                </ng-container>
                <hr *ngIf="k">
            </ng-container>
        </div>

    </div>
</div>