@media print {

    .search {
        display: none;
    }
}

.printbody {
    color: #000000;
    font-family: 'Consolas',Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color: #fff;
    font-style: normal;
    margin: 0;
    font-size: 13px;
}