<h1 class="h3 mb-5 text-gray-800">
    <span><i class="bi bi-person-vcard-fill mr-2"></i></span>
    Reset Password
</h1>
<div class="card shadow mb-4">

    <div class="card-header"> Details</div>
    <div class="card-body" [ngClass]="{'formSubmitted':formSubmitted}">
        <form [formGroup]="formGrp" autocomplete="off">

            <!-- Form Row-->
            <div class="row gx-3 mb-3">
                <div class="col-md-6">
                    <label class="small mb-1" for="oldPassword">Old Password</label>
                    <input class="form-control has-validation" formControlName="oldPassword" id="oldPassword"
                        type="text" placeholder="Enter your old password" autocomplete="off">
                </div>
                <div class="col-md-6">
                    <label class="small mb-1">New Password</label>
                    <input class="form-control has-validation" formControlName="password" id="password" type="text"
                        placeholder="Enter your new password" autocomplete="off">
                </div>
            </div>
            <div class="row gx-3 mt-5 mb-3">
                <!-- Save changes button-->
                <button class="col-md-2 btn btn-primary" (click)="submit()" type="button">Save changes</button>
                <button class="col-md-1 btn btn-outline-primary ms-2" type="button"
                    [routerLink]="['/dashboard/area-list']">
                    <i class="bi bi-arrow-left"></i>
                    Back
                </button>
            </div>
        </form>
    </div>

    <div class="card-body px-4">

    </div>
</div>